<nav class="nav">
  <a href="/{{user}}"><img src="http://twiticon.herokuapp.com/{{user}}" alt="{{user}}" width="32" height="32"></a>
</nav>
<header class="header">
  <h1 class="header__usericon"><img src="http://twiticon.herokuapp.com/{{user}}" alt="{{user}}" width="48" height="48"></h1>
  <p class="header__name">{{name}}</p>
</header>
<main class="content">
  <section class="col">
    <h2>シンプル</h2>
    <p>POOKIEはシンプルさにこだわったソーシャルブックマークサービスです。</p>
  </section>
  <section class="col">
    <h2>タグは1個</h2>
    <p>タグは1個しか付けることができないので、タグの管理で疲れることはありません。</p>
  </section>
  <section class="col">
    <h2>Chromeから</h2>
    <p>Chromeからブクマできるように、拡張機能を用意しました。是非、ご利用ください。</p>
  </section>
</main>
<footer class="footer">
  <small>&copy; 2015 <a href="http://twitter.com/p1ch_jp/" target="_brank">@p1ch_jp</a></small>
</footer>